__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
*.egg
.eggs/
.venv/
venv/
env/
.env
*.so
.ruff_cache/
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.ipynb_checkpoints/

# Crawl output directories (timestamped folders created by crawl4md)
notebooks/*/
outputs/
